.how-work_container {
    display: flex;
    padding: 80px 160px;
    align-items: center;
    background-color: #1C1C1C;
}

.howWork-leftSide {
    width: 40%;
}

.howWork-rightSide {
    width: 60%;
}

.howWork-rightSide h2 {
    font-size: 96px;
    line-height: 120px;
    padding-bottom: 70px;
    color: white;
}

.howWork-rightSide h3 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
    color: white;
}

.howWork-rightSide span {
    font-size: 24px;
    line-height: 32px;
    color: white;
}


.howWork-rightSide .steps img {
    margin-right: 25px;
}

.howWork-rightSide .steps span{
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.howWork-rightSide .step {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.imgWorkFrom2020 {
    width: 450px;
    height: 250px;
}

.discuss-proj {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;
}

.howWork__btn {
    margin-top: 15px;
    width: 270px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.howWork__btn:hover {
    background-color: #CDC9B1;
}

@media(max-width: 1440px) {
    .how-work_container {
        padding: 80px 30px;
    }
}

@media(max-width: 1155px) {

    .how-work_container {
        padding: 80px 80px;
    }

    .imgWorkFrom2020 {
        width: 350px;
        height: 200px;
    }
}

@media(max-width: 1050px) {
    .how-work_container {
        padding: 80px 20px;
    }

}